* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    color: hsl(219, 12%, 42%);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    margin: 20px;
}

h1 {
    color: hsl(224, 21%, 14%);
    font-size: 1.25em;
}

h2 {
    font-size: 1em;
    font-weight: 500;
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 30px;
}

#number {
    background: hsl(219, 85%, 26%);
    color: white;
    border-radius: 5px;
    padding: 0 10px;
}

.notification {
    margin-bottom: 20px;
    border-radius: 5px;
    background: hsl(210, 60%, 98%);
    padding: 15px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.avatar {
    flex: 1 1 15%;
    padding-right: 15px;
}

.notif-text {
    flex: 4 4 80%;
}


.photo {
    flex: 1 1 15%;
}

img {
    width: 100%;
}

i {
    color: hsl(1, 90%, 64%);
    font-size: 0.5em;
}

.name {
    color: hsl(224, 21%, 14%);
    font-weight: 800;
}

.time-stamp {
    color: hsl(219, 14%, 63%);
}

.post-text {
    font-weight: 800;
}

.group {
    color: hsl(219, 85%, 26%);
    font-weight: 800;
}

.pm {
    border: 1px solid hsl(219, 14%, 63%);
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
}



.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 50px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}